body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#container {
  background-image: url(../img/backgorund.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 250px;
  margin-top: 20%;
  margin-left: 35%;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  margin: 2vw;
  padding-top: 20px;
}

#instagram {
  list-style-image: url(../img/Insta.png);
}

#twitter {
  list-style-image: url(../img/Twitter.png);
}

#youtube {
  list-style-image: url(../img/Youtube.png);
}

ul {
  margin-top: 35px;
}

li {
  margin-bottom: 20px;
  margin-left: 20px;
}
